
.container-panel {
    height: calc(100vh - 2rem);
    margin: 1rem;
    text-align: center;
    
}

.left-panel {
    border: 2px solid  #001529;
    padding: 1rem;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    text-align: center;
    font-size: 2rem;
    color: rgb(30, 30, 56);
}

/*  .title--right {
    color: rgb(12, 181, 248);
}

.right-panel {
    padding: 1rem;
    background-color: #001529;
    text-align: center;
}

.form-panel {
    text-align: center;
}

.input-form {
    display: block;
    width: 80%;
    margin: 2rem auto;
    padding: .5rem;
    border-radius: 5px;
}

.btn-form {
    padding: .6rem;
    width: 100px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: rgb(12, 181, 248);
    color: #fff;
    cursor: pointer;
    margin: 0 1rem;
}

.btn-form:last-child{
    background-color: rgb(0, 255, 128);
}
 */